body {
  text-align: center;
  margin: 0;
  padding: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: rgb(255, 151, 195);
  color: black;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 5px;
}

#result {
  font-size: larger;
  margin-top: 15px;
  font-weight: bold;
  color: #333;
}
